<h1>編集画面</h1>
<%= form_for(@book) do |f| %>

	<p>タイトル</p>
	<%= f.text_field :title %>

	<p>投稿内容</p>
	<%= f.text_area :body %>
	<P><%= f.submit '保存' %></P>

<% end %>

<P><%= link_to '詳細', book_path(@book),class: 'show_#{f.id}' %>
|
<%= link_to '戻る', books_path,class: "back" %>
</P>
