<main>
	<p class="flash"><%= flash[:notice] %></p>
	<h1>Books</h1>
	<thead>
		<table>
			<tr>
		      <th class="table-title">タイトル</th>
		      <th class="table-body">投稿内容</th>
		      <th colspan="3"></th>
		    </tr>
		    <% @books.each do |b| %>
		    <tr>
	          <td class="table-title">
	    	      <%= b.title %>
	          </td>
	          <td class="table-body">
	    	      <%= b.body %>
	          </td>
	          <td class="table-show">
	         	 <%= link_to '詳細', book_path(b),class: "show_#{b.id}" %>
	          </td>
	          <td class="table-edit">
	          	<%= link_to '編集', edit_book_path(b), class: "edit_#{b.id}" %>
	          </td>
	          <td class="table-destroy">
	          	<%= link_to '削除', book_path(b), method: :delete, data:{confirm:"本当に削除しますか？"}, class: "destroy_#{b.id}" %>
	          </td>
	         </tr>
	        <% end %>
	    </table>
	</thead>

	<section>
		<h2 class="new-book">New book</h2>
		<%= form_for(@book) do |f| %>

		<h4 class="new-book">タイトル</h4>
		<%= f.text_field :title, class: "book_title" %>
		<h4 class="new-book">投稿内容</h4>
		<%= f.text_area :body, class: "book_body" %>
		<h4 class="new-book"><%= f.submit "投稿" %></h4>
		<% end %>
	</section>

</main>
